<h1>Welcome Player</h1>

<div class="panel panel-default">
  <div class="panel-body">
    Your balance: <%= @player.balance %>
  </div>
</div>

<h4>How it works</h4>

<h4>Determining a winner</h4>
<p>
  Your game selection input is SHA'd using a server secret. <br />
  The first 4 hex bytes are converted to an integer to create your "Lucky Number". <br />
  If your "Lucky Number" is less than the game max amount, you win!
</p>
<br />

<% if @invalid_bet %>
  <p class='text-danger'>
    Invalid bet!
  </p>
<% end %>

<%= form_tag [:bet, :games], role: 'form', class: 'form-horizontal' do %>
  <h3>Step 1 <small>Select a game to play</small></h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Win If</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= radio_button_tag :game_input, game[:input] %></td>
          <td>Less than <%= game[:max] %></td>
          <td><%= game[:prize] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Step 2 <small>Input a bet amount</small></h3>
  <div class="form-group">
    <div class='col-sm-3'>
      <%= text_field_tag :amount, nil, class: 'form-control', placeholder: 'Bet amount', required: true %>
    </div>
  </div>

  <h3>Step 3 <small>Click "Place bet"</small></h3>
  <div class="form-group">
    <div class='col-sm-3'>
      <%= submit_tag "Place bet", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>


<% if @result_hex %>
  <table class='table'>
    <tbody>
      <tr>
        <td>Bet</td>
        <td><%= @bet %></td>
      </tr>
      <tr>
        <td>Game Key</td>
        <td><%= @game[:input] %></td>
      </tr>
      <tr>
        <td>Salt</td>
        <td><%= @secret %></td>
      </tr>
      <tr>
        <td>Hex</td>
        <td><%= @result_hex %></td>
      </tr>
      <tr>
        <td>Lucky Number</td>
        <td><%= @result_int %></td>
      </tr>
      <tr>
        <td>Max</td>
        <td><%= @game[:max] %></td>
      </tr>
      <tr>
        <td>Result</td>
        <td><%= @message %></td>
      </tr>
    </tbody>
  </table>
<% end %>
